<?xml version="1.0"?>
<!-- Sample XML Configuration -->
<configuration>
    <!-- Port to bing AggregateServer to -->
    <!-- This field is *optional* - the server, by default, binds to port 8556 -->

    <property>
        <name>server.port</name>
        <value>8556</value>
    </property>


</configuration>